---
// components
import { Image } from 'astro:assets'
import Heading from './Heading.astro'
import Link from './Link.astro'
import Icon from 'astro-icon'

// types and props
interface Props {
	image: string
	title: string
	price: number
	desc: string
	url: string
	bookType: string
}

const { image, title, price, desc, url, bookType } = Astro.props as Props
---

<!-- book wrapper -->
<div class="flex w-full max-w-[400px] flex-col gap-4 text-primary md:gap-5">
	<!-- book image -->
	<div class="flex min-h-[500px] max-w-[400px] items-center justify-center bg-[#F5F8FC]">
		<Image
			src={image}
			alt="Atomic Ones"
			width={292}
			height={396}
			class="m-[0.31rem] max-w-[292px] shadow-light"
		/>
	</div>

	<!-- book details -->
	<div class="flex flex-col gap-[0.62rem]">
		<!-- book title and price wrapper -->
		<div class="flex justify-between gap-2">
			<Heading variant="h4">{title}</Heading>
			<p class="text-xl font-bold text-secondary">${price.toFixed(2)}</p>
		</div>

		<!-- book description -->
		<p class="mb-[0.88] text-[1.1875rem]">{desc}</p>

		<!-- book type -->
		<p class="mb-[0.94rem] flex items-center font-cardo text-lg font-bold text-primary md:text-2xl">
			<span class="mr-2"
				><svg
					width="16"
					height="16"
					viewBox="0 0 16 16"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<circle cx="8" cy="8" r="8" fill="#FFCA42"></circle>
				</svg>
			</span>
			{bookType}
		</p>

		<Link link={url} btnType="outline" size="sm">Order Today</Link>
	</div>
</div>
