---
// components
import { Image } from 'astro:assets'
import SocialLink from './SocialLink.astro'
import Icon from 'astro-icon'
import Link from '../components/Link.astro'

// data
import { socialLinks } from '../data/social-links'
import { primaryLinks } from '../data/nav-links'
---

<nav class="sticky top-0 z-50 w-full bg-primary">
	<!-- nav container -->
	<div
		class="container relative flex flex-wrap items-center justify-between px-3 py-4 md:gap-3 md:px-5 md:py-5"
	>
		<!-- logo / left col wrapper -->
		<div class="flex flex-1 items-center justify-between gap-4">
			<!-- logo svg -->
			<a href="/" title="Pages Logo">
				<Image src="/images/logo.svg" alt="Pages" width={120} height={36} class="min-w-[120px]" />
			</a>

			<!-- social links -->
			<div class="hidden items-center gap-3 md:flex">
				{socialLinks.map((l) => <SocialLink iconName={l.name} link={l.link} label={l.label} />)}
			</div>
		</div>

		<!-- right column wrapper -->
		<div class="flex flex-[3] flex-col items-center justify-end gap-4 md:flex-row">
			<!-- navigation links -->
			<ul
				data-open="false"
				class="NAV_MENU absolute right-0 top-0 z-10 flex w-full flex-col gap-0 border bg-primary text-white shadow-lg transition duration-300 data-[open='false']:-translate-y-full data-[open='true']:translate-y-[72px] md:static md:w-auto md:flex-row md:gap-5 md:border-0 md:shadow-none md:data-[open='false']:-translate-y-0"
			>
				{
					primaryLinks.map((l) => (
						<li class="group relative flex gap-1 border-b px-5 py-3 md:border-0 md:p-0">
							<a class="transition duration-200 hover:text-secondary" href={l.href}>
								{l.text}
							</a>
							{l.subPages?.length && <Icon name="mdi:chevron-down" class="w-5" />}
							{l.subPages?.length && (
								<ul class="invisible absolute left-0 top-[1.8rem] z-50 flex w-max -translate-y-3 flex-col gap-2 rounded-md bg-white px-7 py-5 font-medium text-primary shadow-lg transition duration-200 group-hover:visible group-hover:translate-y-0">
									<div class="lef-6 absolute top-5 h-3 w-3 translate-x-0 rotate-45 transform bg-white transition duration-500 group-hover:left-[20px] group-hover:-translate-x-1/4 md:-top-1 md:left-0" />
									{l.subPages.map((page) => (
										<li>
											<a href={page.href} class="transition duration-200 hover:text-secondary">
												{page.text}
											</a>
										</li>
									))}
								</ul>
							)}
						</li>
					))
				}
			</ul>
			<!-- cart -->
			<button
				type="button"
				class="relative mr-4 flex items-center justify-center self-end text-white md:mr-0 md:self-center"
				aria-label="Toggle mobile navigation menu"
				title="Nav open button"
			>
				<span
					class="absolute -right-1 -top-2 rounded-full bg-secondary p-1 text-[0.625rem] font-bold text-primary"
					>02</span
				>
				<Icon name="mdi:cart-outline" class="h-8 w-8" />
			</button>

			<!-- call to action -->
			<Link
				link="/"
				btnType="primary"
				size="sm"
				classes="hover:border-secondary hidden md:inline-block ml-0 md:ml-3"
			>
				Order Today
			</Link>
		</div>

		<!-- hamburger menu icon -->
		<button
			type="button"
			class="NAV_TOGGLE_BTN flex rounded-sm border border-secondary p-1 md:hidden"
		>
			<Icon name="line-md:menu" class="w-8 text-white" />
		</button>
	</div>
</nav>

<script>
	const navToggle = document.querySelector('.NAV_TOGGLE_BTN')
	const navMenu = document.querySelector('.NAV_MENU')

	navToggle.addEventListener('click', () => {
		if (navMenu.getAttribute('data-open') === 'false') {
			navMenu.setAttribute('data-open', 'true')
		} else {
			navMenu.setAttribute('data-open', 'false')
		}
	})
</script>
